/* Lightbox */
.lightbox{}
.lightbox .content-lightbox{
    background-color: #f90;
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flexflow: row wrap;
}
.lightbox .content-lightbox .item-lightbox{
    width: calc(100% / 4);
    height: 70px;
    overflow: hidden;
}
.lightbox .content-lightbox .item-lightbox a{
    display: block;
    width: 100%;
    height: 100%;
}
.lightbox .content-lightbox .item-lightbox a img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.box-opening-lightbox{
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box-opening-lightbox .block-lightbox{
    border: rgb(255, 255, 255) solid 5px;
    border-radius: 15px;
    max-width: 540px;
	min-width: 70%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box-opening-lightbox .block-lightbox a.close-lightbox{
	position: absolute;
	width: 35px;
	height: 35px;
	top: 0;
	right: 0;
}
.box-opening-lightbox .block-lightbox a.close-lightbox:before,
.box-opening-lightbox .block-lightbox a.close-lightbox:after{
	content: '';
	width: 50%;
	height: 3px;
	background-color: rgb(255, 255, 255);
	display: block;
	top: 50%;
	left: 50%;
	position: absolute;
}
.box-opening-lightbox .block-lightbox a.close-lightbox:before{
	transform: translate(-50%, -50%) rotate(45deg);
}
.box-opening-lightbox .block-lightbox a.close-lightbox:after{
	transform: translate(-50%, -50%) rotate(-45deg);
}
.box-opening-lightbox .block-lightbox img{
	width: 100%;
}
/* End Lightbox */